<h1>Showing Group <%= @group.gname %>  for user <%= currentUser.email %> </h1>

<p>Members</p>
<% @group.users.each do |t| %>
<ul>
<li><%= t.u_email %></li>
</ul>

<% end %>
<%= link_to "Back to profile", currentUser %>

