<h1>SHOWING USER</h1>

<%= link_to "Create Group", :controller => "groups", :action => "new" %><br>

Groups<br>
<ul>
<% currentUser.groups.each do |g| %>
<li><%= g.gname %>
<%= link_to "Delete", g, method: :delete %>
</li>
<% end %>
</ul>


