<% if loggedIn? %>
<!-- UpdateInfo pop-up Modal -->
    <div id="ChangePassword-Modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Change Password</h4>
          </div>
          <div class="modal-body">
            <%= simple_form_for(currentUser, url: changepassword_path) do |u|%>
                <%= u.input :password, :input_html =>{:class => "login-input"}%>
                <%= u.input :password_confirmation, :input_html =>{:class => "login-input"}%>
                <hr>
                <%= u.submit "Change Password", :class => "btn btn-default login-button" %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
<% end %>