<div id="optionModal" class="modal fade">
  <div class="modal-dialog modal-sm" role="document">
  <div class="modal-content">
    <div class="modal-header">
    <button id="optionModalClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Enter Location Type</h4>
    </div>
    <div class="modal-body">
    <div class="form-group" id="optionModalForm">
      <input type="text" class="form-control" id="optionModalInput">
    </div>
    </div>
    <div class="modal-footer">
    <button id="optionModalSave" type="button" class="btn btn-primary">Add Location</button>
    </div>
  </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>