<!DOCTYPE html>
<html>
	<head>
		<title>GroupMeet - Map</title>
		<meta name="viewport" content="initial-scale=1.0, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"">
		<meta charset="utf-8">

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT1vykYc_wmmkjw6FSd3i_s58eQcI-OP4&callback=initMap&libraries=places"
		async defer></script>

    	<%= javascript_include_tag('public') %>
    	<%= stylesheet_link_tag('application', :media => 'all') %>

	</head>
	<body style="margin:0;width:100%;height:100%">
	    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-car"></i></a></li>
                <li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
                <li><a href="#groups" role="tab"><i class="fa fa-users"></i></a></li>
            </ul>

            <ul role="tablist">
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    Enter Locations
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1><br>
                <p>Enter two locations. GroupMeet will automatically find the most central Starbucks location in between those two points!</p>

                <div id ="controls" style="height = 1em;">
                    <span id="addressList">
                    	Address 1: <input id="addr1" class="addrInput" type="text" name="addr1"><br>
                    	Address 2: <input id="addr2" class="addrInput" type="text" name="addr2"><br>
                    </span>

                    <br><button type="button" class="btn btn-secondary" onclick="addAddressHTML()"> Add Address</button>
                    <button type="button" class="btn btn-primary" onclick="calculateAddr()">Submit</button>
                </div>
            </div>
            <div class="sidebar-pane" id="profile">
                <h1 class="sidebar-header">
                    Profile
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1><br>
                <p>Register for a new account to save group coordinates!</p>
								<button id="regbutton" type="button" value="off" onclick="togglereg()">Register</button>
								<div id="regholder"></div><br>
								<button id="loginbutton" type="button" value="off" onclick="togglelogin()">Login</button>
								<div id="loginholder"></div>
            </div>
            <div class="sidebar-pane" id="groups">
                <h1 class="sidebar-header">
                    Groups
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1><br>
                <p>This is a placeholder for future group-map integration.</p>
            </div>
        </div>
    </div>

		<div id="map"></div>
		<script>var sidebar = $('#sidebar').sidebar();</script>
	</body>
</html>