/* element that contains the map. */
#map {
	position: relative;
}

/* Optional: Makes the sample page fill the window. */
html, body, #map {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.modal-header{
	background-color: #4286f4;
	color: white;
}

.close{
	size: 20px;
}

.login-input{
	height: 37px;

}

.login-button{
	color: white;
	background-color: #337ab7;
}

.login-button:hover{
	color: white;
	background-color: #2e6da4;
}