.blue-bar{
	background-color: #4286f4;
	width: 100%;
	height: 40px;
	text-align: center;
}

.top-header{
	color: white;
	font-size: 24px;

}

.forms{
	margin: 0 auto;
	/*position:absolute; */
	top:20%;
	/*left:30%;*/
	vertical-align: center;
}

.groups, .profile_info {
	border-collapse: collapse;
	width: 50%;
}

table, th, td {
	border: 1px solid black;
	text-align: center
	
}	


