img {
/*    display: block;
    margin: 0 auto;*/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    /*-webkit-transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)*/
}

.sidebar {
  position: absolute;
  top: 160px;
  bottom: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  z-index: 1; }
  .sidebar.collapsed {
    width: 40px; }
  @media (min-width: 768px) {
    .sidebar {
      top: 60px;
      bottom: 10px;
      transition: width 500ms; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
      
      width: 305px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .sidebar {
      
      width: 390px; } }
  @media (min-width: 1200px) {
    .sidebar {
      
      width: 460px; }
}

.sidebar-left {
  left: 0; }
  @media (min-width: 768px) {
    .sidebar-left {
      left: 10px; } }

.sidebar-right {
  right: 0; }
  @media (min-width: 768px) {
    .sidebar-right {
      right: 10px; } }

.sidebar-tabs {
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #fff; }
  .sidebar-left .sidebar-tabs {
    left: 0; }
  .sidebar-right .sidebar-tabs {
    right: 0; }
  .sidebar-tabs, .sidebar-tabs > ul {
    position: absolute;
    width: 40px;
    margin: 0;
    padding: 0; }
    .sidebar-tabs > li, .sidebar-tabs > ul > li {
      width: 100%;
      height: 40px;
      color: #666;
      font-size: 12pt;
      overflow: hidden;
      transition: all 80ms; }
      .sidebar-tabs > li:hover, .sidebar-tabs > ul > li:hover {
        color: #000;
        background-color: #b2cfff; }
      .sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
        color: #000;
        background-color: #4286f4;
      }
      .sidebar-tabs > li.disabled, .sidebar-tabs > ul > li.disabled {
        color: rgba(102, 102, 102, 0.4); }
        .sidebar-tabs > li.disabled:hover, .sidebar-tabs > ul > li.disabled:hover {
          background: transparent; }
        .sidebar-tabs > li.disabled > a, .sidebar-tabs > ul > li.disabled > a {
          cursor: default; }
      .sidebar-tabs > li > a, .sidebar-tabs > ul > li > a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 40px;
        color: inherit;
        text-decoration: none;
        text-align: center; }
  .sidebar-tabs > ul + ul {
    bottom: 0; }

.sidebar-content {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  overflow-x: hidden;
  /*verflow-y: auto;*/
}
  .sidebar-left .sidebar-content {
    left: 40px;
    right: 0; }
  .sidebar-right .sidebar-content {
    left: 0;
    right: 40px; }
  .sidebar.collapsed > .sidebar-content {
  /*  overflow-y: hidden; */
  }

.sidebar-pane {
  display: none;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 10px 20px; }
  .sidebar-pane.active {
    display: block; }
  @media (min-width: 768px) and (max-width: 991px) {
    .sidebar-pane {
      min-width: 265px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .sidebar-pane {
      min-width: 350px; } }
  @media (min-width: 1200px) {
    .sidebar-pane {
      min-width: 420px; } }

.sidebar-header {
  margin: -10px -20px 0;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  font-size: 14.4pt;
  color: white;
  background-color: #4286f4; }
  .sidebar-right .sidebar-header {
    padding-left: 40px; }

.sidebar-close {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer; }
  .sidebar-left .sidebar-close {
    right: 0; }
  .sidebar-right .sidebar-close {
    left: 0; }

.sidebar-left ~ .sidebar-map {
  margin-left: 40px; }
  @media (min-width: 768px) {
    .sidebar-left ~ .sidebar-map {
      margin-left: 0; } }

.sidebar-right ~ .sidebar-map {
  margin-right: 40px; }
  @media (min-width: 768px) {
    .sidebar-right ~ .sidebar-map {
      margin-right: 0; } }

.sidebar {
  border-right: 0;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px; }
  @media (min-width: 768px) {
    .sidebar {
      border: 0;
      border-radius: 2px; } }

@media (min-width: 768px) {
  .sidebar-left {
    bottom: 35px; } }

@media (min-width: 768px) {
  .sidebar-left ~ .sidebar-map .gm-style > div.gmnoprint[style*="left: 0px"] {
    transition: margin-left 500ms; } }

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-left ~ .sidebar-map .gm-style > div.gmnoprint[style*="left: 0px"] {
    margin-left: 325px !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-left ~ .sidebar-map .gm-style > div.gmnoprint[style*="left: 0px"] {
    margin-left: 410px !important; } }

@media (min-width: 1200px) {
  .sidebar-left ~ .sidebar-map .gm-style > div.gmnoprint[style*="left: 0px"] {
    margin-left: 480px !important; } }

@media (min-width: 768px) {
  .sidebar-left.collapsed ~ .sidebar-map .gm-style > div.gmnoprint[style*="left: 0px"] {
    margin-left: 60px !important; } }

@media (min-width: 768px) {
  .sidebar-right {
    bottom: 24px; } }

@media (min-width: 768px) {
  .sidebar-right ~ .sidebar-map .gm-style > div.gmnoprint[style*="right: 28px"] {
    transition: margin-right 500ms; } }

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-right ~ .sidebar-map .gm-style > div.gmnoprint[style*="right: 28px"] {
    margin-right: 325px !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-right ~ .sidebar-map .gm-style > div.gmnoprint[style*="right: 28px"] {
    margin-right: 410px !important; } }

@media (min-width: 1200px) {
  .sidebar-right ~ .sidebar-map .gm-style > div.gmnoprint[style*="right: 28px"] {
    margin-right: 480px !important; } }

@media (min-width: 768px) {
  .sidebar-right.collapsed ~ .sidebar-map .gm-style > div.gmnoprint[style*="right: 28px"] {
    margin-right: 60px !important; } }

/* Location Input Forms */

.addrInput{
    font: 95% Arial, Helvetica, sans-serif;
    /*margin: 10px auto;*/
    padding: 16px;
    background: #F7F7F7;
}

input[type="text"]
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
input[type="text"]:focus
{
    box-shadow: 0 0 5px #4286f4;
    padding: 3%;
    border: 1px solid #4286f4;
}

/*input[type="submit"],
input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #4286f4;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}*/

.addrInput input[type="submit"]:hover,
.addrInput input[type="button"]:hover{
    background: #2EBC99;
    /*width: 40%;*/
}

.addressTable{
  width: 100%;
}

.btn{
  width: 100%;
}

.btn-secondary{
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.btn-secondary:hover{
  background-color: #b2cfff;
}

.btn-primary{
  vertical-align: right;
}


.input-group-addon{
  background-color: white;
}

.input-group-addon:hover{
  background-color: #b2cfff;
}

.navbar{
  background-color: white;
}

.navbar-title{
  color: grey;
  font-size: 24px;
  margin-top: 8px;
}

ul.nav a:hover { color: blue !important; }

.list-group-addon {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 10px;
  font-size: 15px;
  display:inline;
  font-weight: normal;
  /*line-height: 1;*/
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  height:100%;
  /*border: 1px solid #cccccc;*/
  /*border-radius: 6px;*/
}

.panel{
  border-radius: 0px;
}

.tripInfo{
  margin-top: 10px;
  margin-bottom: -10px;
  color: grey;
}

.tripDuration:hover{
  color: #4286f4;
}

.tripDistance:hover{
  color: #4286f4;
}

.address-header{
  color:grey;
  vertical-align:top;
  /*margin-top: -15px;*/
  /*margin-bottom: 10px;*/
  font-weight: bold;
  display: inline-block;
}

.address-divider{
  margin-bottom: 4px;

}

.transport-options{
  /*position: absolute;*/
  font-size: 20px;
  margin-left: 212px;
  /*margin-bottom: 10px;*/
  display: inline-block;
}

